<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TetrisFinalProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TetrisFinalProject.My.MySettings>
            <setting name="Leaderboard" serializeAs="String">
                <value>Anonymous 0,Anonymous 0,Anonymous 0,Anonymous 0,Anonymous 0,</value>
            </setting>
            <setting name="TopScores" serializeAs="String">
                <value>Anonymous 0,Anonymous 0,Anonymous 0,Anonymous 0,Anonymous 0,</value>
            </setting>
            <setting name="TopScoresSrvl" serializeAs="String">
                <value>Araad 17, Derek 14, Araad 13, Araad 12, Derek 5,</value>
            </setting>
            <setting name="Red" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Blue" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="Green" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Yellow" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="LightBlue" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="Orange" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Purple" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Border" serializeAs="String">
                <value>Fixed3D</value>
            </setting>
        </TetrisFinalProject.My.MySettings>
    </userSettings>
</configuration>